<IfModule mod_rewrite.c>
    RewriteEngine On
    # Si le fichier ou dossier demandé n'existe pas physiquement, on redirige vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>